<!-- get-all-rooms.component.html -->
<h2 class="mb-4">All Rooms</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Room Number</th>
        <th>Room Type ID</th>
        <th>Price Per Night</th>
        <th>Floor</th>
        <th>Number of Beds</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomTypeId }}</td>
        <td>{{ room.pricePerNight }}</td>
        <td>{{ room.floor }}</td>
        <td>{{ room.numberOfBeds }}</td>
      </tr>
    </tbody>
  </table>
</div>
